body{
    background-image: url('https://www.getpiping.com/content/uploads/2014/11/yellow-background-12.jpg');
/*     background-size: cover; */
    background-repeat: repeat;
    height: auto;
    width: auto;
}